#display {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
    text-align: center;
}
.slider {
    width: 300px;
}
.sliderVertical {
    -webkit-appearance: slider-vertical;
    width: 25px; /* Full-width */
    height: 300px; /* Specified height */
    transition: opacity .2s;
}

#joystickArea {
    // overflow	: hidden;
    padding		: 0;
    margin		: 0;
    background-color: #BBB;
    width:100%;
    padding-top: 100%;
    //height: 500px;
}
#info {
    position	: absolute;
    top		: 0px;
    width		: 100%;
    padding		: 5px;
    text-align	: center;
}
#info a {
    color		: #66F;
    text-decoration	: none;
}
#info a:hover {
    text-decoration	: underline;
}
#container {
    width		: 100%;
    height		: 100%;
     overflow	: hidden;
    padding		: 0;
    margin		: 0;
}

#connectionIcon {
    color: #dc3545;
}

#connectionAddressContainer {
    font-size: small;
    color: #dc3545;
}

#infoArea {
    font-size: x-small;
}

#discoverButton
{
    border: 1px solid;
    padding: 5px;
    box-shadow: 0px 0px 3px grey;
}

#discoverButton:hover
{
    color: #23ab98;
    box-shadow: 0px 0px 3px #23ab98;
}